[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
psycopg = "*"
flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-bcrypt = "*"
pytest-playwright = "*"
pytest-xprocess = "*"
py = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
