<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chitter Login page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 >Welcome back {{ user.user_name }}</h1>
    <h2>Please see your Chitters below</h2>
    <h2>Create a new post</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/login">
        <p>
            <label for="title">Post Title</label><br>
            <input type="text" name="title" id="title">
        </p>
        <p>
            <label for="content">Post content</label><br>
            <textarea name="content" id="content"></textarea>
        </p>
        <input type="submit" value="Add Content">
    </form>

    {% if user.posts %}
        {% for post in user.posts %}
            <div class="post-container">
                <h1 class="post-username">{{ user.user_name }}</h1>
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-content">{{ post.content }}</p>

              <form method="POST" action="/login">
                  <input type="hidden" name="delete_post" value="{{ post.id }}">
                  <input type="submit" value="Delete">
              </form>

            </div>
        {% endfor %}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
    
    {% if all %}
      {% for all_post in all %}
        {% for users in all_users %}
         {% if users.id == all_post.user_id and users.user_name != user.user_name%}
        <div class="post-container">
          <h1 class="post-username">{{ users.user_name }}</h1>
          <h1 class="post-title">{{ all_post.title }}</h1>
          <p class="post-content">{{ all_post.content }}</p>
        </div> 
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}

    <a href="{{url_for('main_page')}}" class="logout-link">Log out</a>
</body>
</html>
