<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chitter Main Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Register</h1>
    <form method="POST" action="">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      
      {{ form.hidden_tag() }}
      {{ form.username }}<br>
      {{ form.password }}<br>
      {{ form.submit }} <br>
    </form>
    <a class="register-link" href="{{ url_for('main_page') }}">Already have an account? Log In</a>
  </body>
</html>
